* {
  padding: 0;
  margin: 0;
  font-family: "Arial Narrow Bold";
}

li {
  display: flex;
  gap: 1rem;
  padding: none;
  font-size: xx-large;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1.2fr 6fr;
}

.sidebar {
  background-color: #fae8ff;
  border-right: 2px solid #14532d;
  display: flex;
  grid-row: span 2;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
}

.header {
  background-color: #bfdbfe;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

main {
  background-color: #3a6740;
}

.sidebar > div {
  padding: 1.5rem;
}

.sidebar-top {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 6px;
  border-bottom: 4px solid rgb(11, 40, 70);
}

ul {
  display: grid;
  gap: 0.4rem;
  align-items: center;
}

li > svg {
  align-self: flex-end;
}

.svg-size {
  width: 36px;
  height: 36px;
}

.svg-large {
  width: 68px;
  height: 68px;
}

.header-top {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-around;
  padding: 0 4rem;
  gap: 2rem;
}

.search-style {
  border-radius: 16px;
  width: max(44rem, 100px);
  height: 29px;
  border-radius: 10px;
  background-color: rgb(230, 230, 230);
  border: none;
  padding: 8px;
  max-width: 700px;
}

.header-last-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
}

.content {
  display: grid;
  padding: 2rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 10fr;
}

.content-boxes {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.content-box {
  background-color: #c4e3c9;
  border-left: 1rem solid rgb(23, 56, 92);
  border-radius: 16px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.content-side {
  display: grid;
  grid-template-rows: 4fr 1fr 4fr;
  padding-left: 1.5rem;
}

.content > h2:nth-child(2) {
  padding-left: 1.5rem;
}

.side-content-top:first-child {
  margin-bottom: 2rem;
}

.side-content-top {
  background-color: beige;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px;
}

.button-36 {
  background-image: linear-gradient(
    92.88deg,
    #1c7927 9.16%,
    #11511e 43.89%,
    #0c4221 64.72%
  );
  border-radius: 12px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 12px;
  font-weight: 500;
  height: 3rem;
  padding: 0 1rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.rightmost {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;
}
